<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>Menu</name>
    <sid>177843618576959</sid>
    <event-sheet>Menu</event-sheet>
    <size>
        <width>800</width>
        <height>600</height>
    </size>
    <margins>
        <horizontal>500</horizontal>
        <vertical>500</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="Layer 0" sid="642287574999624">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Sprite2" uid="22">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>399</x>
                        <y>300.5</y>
                        <z>0</z>
                        <width>801</width>
                        <height>604</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Text" uid="23">
                    <properties>
                        <text>Menu</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Stencil,-64,400,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>294</x>
                        <y>60</y>
                        <z>0</z>
                        <width>303</width>
                        <height>107</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Text3" uid="24">
                    <properties>
                        <text>Alfabeto</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Stencil,-37,400,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>100</x>
                        <y>201</y>
                        <z>0</z>
                        <width>189</width>
                        <height>46</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="sfMenuAlfabeto" uid="25">
                    <properties>
                        <character-width>136</character-width>
                        <character-height>131</character-height>
                        <character-set>ABCDEFGHIJKLMNOPQRSTUVWXYZ</character-set>
                        <text>ABC</text>
                        <scale>0.48</scale>
                        <initial-visibility>Visible</initial-visibility>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <character-spacing>0</character-spacing>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>89</x>
                        <y>238</y>
                        <z>0</z>
                        <width>206</width>
                        <height>67</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Text4" uid="26">
                    <properties>
                        <text>Cálculo</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Stencil,-37,400,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>453</x>
                        <y>198</y>
                        <z>0</z>
                        <width>189</width>
                        <height>46</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Text5" uid="27">
                    <properties>
                        <text>Jogo Bexiga</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Stencil,-37,400,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>78</x>
                        <y>360</y>
                        <z>0</z>
                        <width>262</width>
                        <height>46</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Text6" uid="28">
                    <properties>
                        <text>Jogo</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Stencil,-37,400,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>484</x>
                        <y>361</y>
                        <z>0</z>
                        <width>262</width>
                        <height>46</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Menubexiga" uid="119">
                    <properties>
                        <character-width>130</character-width>
                        <character-height>270</character-height>
                        <character-set>abcdefghijklmnopqrstuvwxyz</character-set>
                        <text>abc</text>
                        <scale>0.5</scale>
                        <initial-visibility>Visible</initial-visibility>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <character-spacing>0</character-spacing>
                        <line-height>0</line-height>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Physics">
                            <properties>
                                <immovable>Yes</immovable>
                                <collision-mask>Use collision polygon</collision-mask>
                                <prevent-rotation>No</prevent-rotation>
                                <density>0.1</density>
                                <friction>1</friction>
                                <elasticity>0.2</elasticity>
                                <linear-damping>0</linear-damping>
                                <angular-damping>0.01</angular-damping>
                                <bullet>No</bullet>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>94</x>
                        <y>393</y>
                        <z>0</z>
                        <width>197</width>
                        <height>137</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="imgMenu4operacao" uid="120">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>539</x>
                        <y>281</y>
                        <z>0</z>
                        <width>80</width>
                        <height>80</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="pontosGerais" uid="333">
                    <properties>
                        <text>0</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Stencil,-37,400,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>562.5</x>
                        <y>70.372955322</y>
                        <z>0</z>
                        <width>95</width>
                        <height>44</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Text2" uid="334">
                    <properties>
                        <text>Pontos</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-16</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>562.5</x>
                        <y>52.5</y>
                        <z>0</z>
                        <width>64</width>
                        <height>30</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="textosPontosJogo" uid="335">
                    <properties>
                        <text>Você Precisa Juntar 50 Pontos, Para Jogar</text>
                        <initial-visibility>Invisible</initial-visibility>
                        <font>Arial,-19,700,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>553</x>
                        <y>397</y>
                        <z>0</z>
                        <width>205</width>
                        <height>81</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="frame_Personagem" uid="326">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Pin" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>526</x>
                        <y>425</y>
                        <z>0</z>
                        <width>156.25</width>
                        <height>117.1875</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Text15" uid="340">
                    <properties>
                        <text> Acerto</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-16</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>675</x>
                        <y>53</y>
                        <z>0</z>
                        <width>93</width>
                        <height>30</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="porcentagemGerais" uid="341">
                    <properties>
                        <text>0</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Stencil,-37,400,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>674</x>
                        <y>71</y>
                        <z>0</z>
                        <width>77</width>
                        <height>44</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="pontosGerais2" uid="342">
                    <properties>
                        <text>%</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Stencil,-32,400,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>742</x>
                        <y>73</y>
                        <z>0</z>
                        <width>95</width>
                        <height>44</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
