<?xml version="1.0" encoding="utf-8" ?>
<c2eventsheet>
    <!--All the 'name' attributes are ignored by Construct 2 - they are there for readability only.-->
    <name>Menu</name>
    <events>
        <variable constant="0" name="PontosGerais" sid="885557796545323" static="0" type="number">0</variable>
        <event-block sid="973941706201433">
            <conditions>
                <condition id="-2" name="On start of layout" sid="196878709865310" type="System" />
            </conditions>
            <actions>
                <action id="33" name="Stop all" sid="417154186209379" type="Audio" />
                <action id="0" name="Play" sid="799279921091520" type="Audio">
                    <param id="0" name="Audio file">8-Bit-Puzzler</param>
                    <param id="2" name="Loop">1</param>
                    <param id="3" name="Volume">-5</param>
                    <param id="1" name="Tag (optional)">&quot;&quot;</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="963266196289411">
            <conditions>
                <condition id="3" name="On touched object" sid="825804973065330" type="Touch">
                    <param id="0" name="Object">sfMenuAlfabeto</param>
                </condition>
            </conditions>
            <actions>
                <action id="-2" name="Go to layout" sid="493104189273924" type="System">
                    <param id="0" name="Layout">Alfabeto</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="942840556031953">
            <conditions>
                <condition id="3" name="On touched object" sid="231033768522956" type="Touch">
                    <param id="0" name="Object">imgMenu4operacao</param>
                </condition>
            </conditions>
            <actions>
                <action id="-2" name="Go to layout" sid="217815201092183" type="System">
                    <param id="0" name="Layout">MenuCalculo</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="919420959666284">
            <conditions>
                <condition id="3" name="On touched object" sid="591832991301434" type="Touch">
                    <param id="0" name="Object">Menubexiga</param>
                </condition>
            </conditions>
            <actions>
                <action id="-2" name="Go to layout" sid="488253691575389" type="System">
                    <param id="0" name="Layout">Jogo daBexiga</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="999482568646376">
            <conditions>
                <condition id="3" name="On touched object" sid="445870789902649" type="Touch">
                    <param id="0" name="Object">frame_Personagem</param>
                </condition>
            </conditions>
            <actions />
            <sub-events>
                <event-block sid="888631352323259">
                    <conditions>
                        <condition id="-14" name="Compare variable" sid="393234259710008" type="System">
                            <param id="0" name="Variable">PontosGerais</param>
                            <param id="1" name="Comparison">4</param>
                            <param id="2" name="Value">5</param>
                        </condition>
                    </conditions>
                    <actions>
                        <action id="-2" name="Go to layout" sid="652709435154477" type="System">
                            <param id="0" name="Layout">inicio</param>
                        </action>
                    </actions>
                </event-block>
                <event-block sid="824999150293481">
                    <conditions>
                        <condition id="-22" name="Else" sid="429101272095677" type="System" />
                    </conditions>
                    <actions>
                        <action id="-15" name="Set visible" sid="493553370780875" type="textosPontosJogo">
                            <param id="0" name="Visibility">1</param>
                        </action>
                        <action id="-16" name="Wait" sid="201478672165525" type="System">
                            <param id="0" name="Seconds">3</param>
                        </action>
                        <action id="-15" name="Set visible" sid="522722289540067" type="textosPontosJogo">
                            <param id="0" name="Visibility">0</param>
                        </action>
                    </actions>
                </event-block>
            </sub-events>
        </event-block>
        <event-block sid="962892504369944">
            <conditions>
                <condition id="-1" name="Every tick" sid="309055606061787" type="System" />
            </conditions>
            <actions>
                <action id="0" name="Set text" sid="709040108236668" type="pontosGerais">
                    <param id="0" name="Text">PontosGerais</param>
                </action>
            </actions>
        </event-block>
    </events>
</c2eventsheet>
